---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Registration" description="Registration - Registering providers with keys and scopes">
  <article>
    <h1>Registration</h1>
    <p>Registration is provider factory which registers provider in container.</p>
    <p>See the full documentation in the README.md file.</p>
  </article>
</BaseLayout>

