---
import { siteMetadata } from "../config/site";
---

<footer class="layout-footer">
  <div class="container-fluid px-4 text-center text-muted">
    <p class="mb-0">
      Copyright &copy; {siteMetadata.author}. Distributed by an{" "}
      <a href={siteMetadata.license.url} class="text-decoration-none">
        {siteMetadata.license.name} license
      </a>.
    </p>
  </div>
</footer>
